@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    background-image:url('https://www.10wallpaper.com/wallpaper/1920x1200/1401/spot_light_color_bright-HD_Widescreen_Wallpaper_1920x1200.jpg');
    background-repeat:no-repeat;
    background-size:cover;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:100vh;
    width: 100%;
    font-family: 'Gemunu Libre', sans-serif;
}


.container{
    width: 450px;
    padding:20px;
    background: rgba(255, 255, 255, 0.295);
    border-radius: 20px;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter:blur(50px) ;
}

.header figure img{
    border-radius:100%;
    width: 150px;
    height: 150px;
}

.header h1 {
    margin-top:10px;
    font-weight:700;
}
.header h1 img {
    margin-bottom:5px;
    margin-left:5px;
}

.sub {
    padding:10px;
}

.body img {
    width: 50px;
}

ul{
    display: flex;
    margin-top:25px;
}

ul li{
    display: flex;
    flex-direction: column;
    margin:auto;
}


.about{
    background: rgba(109, 109, 109, 0.5);
    backdrop-filter: blur(2px);
    border-radius:20px;
    overflow: hidden;
    margin-top:25px;
    padding:10px;
    font-weight: 700;
}

footer {
    margin-top:10px;
    font-weight: 700;
}

button{
    margin-top:10px;
    padding:10px;
    width: 259px;
    border: none;
    background: linear-gradient(rgba(174, 255, 246, 0.666),rgba(0, 0, 255, 0.404));
    border-radius:20px;
}

@media only screen and (max-width: 600px) {
    .container{
        width: 359px;
        padding:20px;
        background: rgba(255, 255, 255, 0.295);
        border-radius: 20px;
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter:blur(50px) ;
    }
  }
